* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
  color: midnightblue;
  padding: 5rem 10rem;   
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#suppliers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 8px 48px 38px rgba(0,0,0,0.1);
}
  
#suppliers td, #suppliers th {
  border: 1px solid #ddd;
  padding: 8px;
}
  
#suppliers tr:nth-child(even){background-color: #f2f2f2;}
  
#suppliers tr:hover {background-color: #ddd;}
  
#suppliers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: antiquewhite;
  padding: 1rem;
  box-shadow: 0px 8px 48px 38px rgba(0,0,0,0.1);
}
#links a {
  text-decoration: none;
  cursor: pointer;
  color: red;
  font-size: 20px;
}