* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
  color: midnightblue;
  padding: 5rem 10rem;   
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#suppliers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 8px 48px 38px rgba(0,0,0,0.1);
}
  
#suppliers td, #suppliers th {
  border: 1px solid #ddd;
  padding: 8px;
}
  
#suppliers tr:nth-child(even){background-color: #f2f2f2;}
  
#suppliers tr:hover {background-color: #ddd;}
  
#suppliers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: antiquewhite;
  padding: 1rem;
  box-shadow: 0px 8px 48px 38px rgba(0,0,0,0.1);
}
#links a {
  text-decoration: none;
  cursor: pointer;
  color: red;
  font-size: 20px;
}



/* MODAL */

.trigger{
  text-align: center;
padding: 7px 13px;
background: #3e3e3e;
color: #fff;
font-size: 15px;
outline: none;
border: none;
border-radius: 5px;
font-family: cursive;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
